<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coffee</key>
	<string>com.dontgomart.Coffee</string>
	<key>tipCoffee</key>
	<string>com.dontgomart.tip.coffee</string>
	<key>tipCake</key>
	<string>com.dontgomart.tip.cake</string>
	<key>tipMeal</key>
	<string>com.dontgomart.tip.meal</string>
</dict>
</plist>
